@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=Victor+Mono:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav,
li,
a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  font-weight: 500;
  color: #ffffff;
}

header {
  background-color: #242424;
}

.nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
}

.nav-right li {
  display: inline-block;
  margin: 0 20px;
  font-size: 12px;
}

.nav-right li:hover {
  margin: 0 15px;
  font-size: 14px;
}

.nav-present {
  background-color: white;
  color: black;
  border: 4px white solid;
  border-radius: 6px;
  padding: 0 5px;
}

.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;
  width: 100%;
}

.hero-left {
  padding-bottom: 15%;
  padding-left: 10%;
  font-family: "Poppins", sans-serif;
  height: 100px;
  font-weight: 300;
  width: 50%;
  font-size: 22px;
}

.hero-left span {
  font-size: 15px;
}

.hero-links {
  display: flex;
}

.hero-links img {
  margin-left: 10px;
  height: 38px;
  margin-top: 20px;
}

.hero-links img:hover {
  height: 45px;
  filter: drop-shadow(0 0 10px #646464);
}
.button-resume {
  height: 20px;
  margin-top: 20px;
}
.btn {
  width: 180px;
  padding: 10px;
  font-size: 12px;
  color: black;
  background-color: transparent;
  border: 2px black solid;
  cursor: pointer;
}

.btn:hover {
  color: white;
  background-color: black;
  border: 2px grey solid;
}

.hero-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-right img {
  height: 350px;
}

.solid-line {
  margin-left: 46px;
  border: 0;
  background-color: #242424;
  height: 6px;
  width: 90%;
}

/* About Page*/

.aboutHeading {
  margin: 20px;
}

.aboutHeading h1 {
  display: flex;
  justify-content: center;
  margin: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 35px;
}

.aboutDetails{
  width: 85%;
  margin: 0 auto;
}
.aboutDetails p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}

.arrow-pages{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 40px;
}

.arrowInline{
  display: flex;
  align-items: center;
}

.arrowInline, .arrowInline p a:hover{
  font-size: 22px;
}

.arrowInline p a{
  color: black;
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

/* Portfolio Page*/

.portfolioHeading{
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.portfolioHeading > p{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 40px;
}

.portfolioIteams {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.portfolioIteams p {
  background-color: #242424;
  color: #ffffff;
  padding: 5px 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.portfolioIteams > p:hover{
  font-size: 20px;
}

/* Certification Page*/

.certificationHeading{
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.certificationHeading > p{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 40px;
}

.certificationIteams {
  display: inline-flex;
  width: 50%;
  flex-direction: row;
  justify-content: column;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.certificationIteams p {
  background-color: #242424;
  color: #ffffff;
  padding: 5px 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.certificationIteams > p:hover{
  font-size: 20px;
}

/* Contact Page*/

.contactHeading{
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.contactHeading > p{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 40px;
}


.contactHeading form {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-weight: 350;
  font-size: 22px;
  align-items:flex-end;
  width: 30%;
}

.contactHeading *{
  margin: 10px 0;
}

.contactForm{
display: flex;
align-items: flex-end;
}

.contactHeading input{
  border: 2px black solid;
  padding:  5px 10px;
  width: 250px;
}

.contactBtn {
  margin-right: 70px;
  width: 180px;
  padding: 10px;
  font-size: 12px;
  color: #ffffff;
  background-color: black;
  border: 2px grey solid;
}

.contactBtn:hover {
  color: black;
  background-color: transparent;
  border: 2px black solid;
}

#messageSubject{
  height: 150px;
}

#contactSocialLinks{
  width: 245px;
}

/* Experience Page*/



.expContainer div{
  margin-bottom: 10px;
}


.experienceHeading h1 {
  display: flex;
  justify-content: center;
  margin: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 35px;
}
.experienceHeading {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.experienceDetails{
  display: flex;
  justify-content: space-evenly;
}
.experienceDetails p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}

.expDetails ul li{
  color: #242424;
}

.experienceDetails{
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

.expInfo li{
  margin: 5px;
}

.expProjectTitle p{
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

.projectsExp {
  border: 2px solid black;
  margin: 10px;
}